{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'core/css/custom.css' %}">
</head>
<style>
.field-error{
    color:red;
}
</style>
<body>
<div class="auth-container">
    <div class="auth-box">
        <h2>Set New Password</h2>
        <p class="auth-subtitle">
            Enter your new password below.
        </p>
        {% if validlink %}
        <form method="POST" novalidate>
            {% csrf_token %}
            <!-- New Password -->
            <div class="input-group">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {% for error in form.new_password1.errors %}
                    <p class="field-error">{{ error }}</p>
                {% endfor %}
            </div>
            <!-- Confirm Password -->
            <div class="input-group">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {% for error in form.new_password2.errors %}
                    <p class="field-error">{{ error }}</p>
                {% endfor %}
            </div>
            <button type="submit" class="auth-btn">
                Reset Password
            </button>
        </form>
        {% else %}
        <p class="error-text">
            This password reset link is invalid or has expired.
        </p>
        <a href="{% url 'password_reset' %}" class="auth-btn" style="display:block; text-align:center;">
            Request New Link
        </a>
        {% endif %}
    </div>
</div>
</body>
</html>