<footer class="myntra-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h6>ONLINE SHOPPING</h6>
                <p>Men</p>
                <p>Women</p>
                <p>Kids</p>
                <p>Home & Living</p>
            </div>
            <div class="col-md-3">
                <h6>CUSTOMER POLICIES</h6>
                <p>Contact Us</p>
                <p>FAQ</p>
                <p>Returns</p>
                <p>Terms</p>
            </div>
            <div class="col-md-3">
                <h6>EXPERIENCE APP</h6>
                <p>Download App</p>
            </div>
            <div class="col-md-3">
                <h6>KEEP IN TOUCH</h6>
                <p>Instagram</p>
                <p>Facebook</p>
            </div>
        </div>
        <hr>
        <p class="text-center small">© 2026 MYSHOP Clone</p>
    </div>
</footer>